node_modules
typechain
target
tests/test-runner/Cargo.lock
tests/dockerfile/gravity.tar.gz
solidity/dist
solidity/build
solidity/artifacts/
orchestrator/bins

# OS files
.DS_Store

# IDE files
.idea/

#Hardhat files
cache
artifacts
*.test
*-stamp
